@font-face {
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-family: HankenGrotesk;
  src: url(assets/fonts/static/HankenGrotesk-Medium.ttf) format('truetype');
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-family: HankenGrotesk;
  src: url(assets/fonts/static/HankenGrotesk-Bold.ttf) format('truetype');
}
@font-face {
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  font-family: HankenGrotesk;
  src: url(assets/fonts/static/HankenGrotesk-ExtraBold.ttf) format('truetype');
}
:root {
  --fw-bold: 700;
  --fw-medium: 500;
  --fs-title: 1.5rem;
  --fs-heading: 2rem;
  --fw-extra-bold: 800;
  --fs-paragraph: 1.125rem;
  --fs-sub-heading: 1.75rem;
  --white: hsl(0, 0%, 100%);
  --font-family: HankenGrotesk;
  --light-red: hsl(0, 100%, 67%);
  --pale-blue: hsl(221, 100%, 96%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  font-weight: var(--fw-medium);
  font-size: var(--fs-paragraph);
  background-color: var(--pale-blue);
  font-family: var(--font-family), sans-serif;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--dark-gray-blue); }